body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 32px 0;
}
