* {
    box-sizing: border-box;
}

html,
body {
    font-family: fantasy;
    line-height: 5;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 32px 0;
}

main {
    max-width: 1200px;
    width: 90%;
    padding: 16px;
}

header {
    align-items: center;

}