* {
    box-sizing: border-box;
}

html,
body {
 font-family: system-ui;
  font-size: 16px;
  line-height: 3;
  color: #ffffff;
  background-color: #d69fd3;
  display: flexbox;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 32px 0;

}

main {
    max-width: 1200px;
    width: 90%;
    padding: 16px;
}

header {
    align-items: center;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    font-size: 48px;
    line-height: 1em;
    margin-top: 48px;
    margin-bottom: 48px;
    text-align: center;
}