* {
    box-sizing: border-box;
}

html,
body {
    font-family: fantasy;
    line-height: 5;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 32px 0;
}

main {
    max-width: 1200px;
    width: 90%;
    padding: 16px;
}

header {
    align-items: center;

}

h1 {
    font-weight: normal;
    font-size: 48px;
    line-height: 1em;
    margin-top: 48px;
    margin-bottom: 48px;
    text-align: center;
}