* {
    box-sizing: border-box;
}

html,
body {
 font-family: system-ui;
  font-size: 16px;
  line-height: 3;
  color: #020202;
  background-color: #e4bee2;
  display: flexbox;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 32px 0;

}

main {
    max-width: 1200px;
    width: 90%;
    padding: 16px;
}

header {
    align-items: center;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    font-size: 48px;
    line-height: 1em;
    margin-top: 48px;
    margin-bottom: 48px;
    text-align: center;
}

.skill-card {
    background-color: rgb(245, 237, 227);
    border: 1px dotted rgb(189, 55, 133);
}

.horizontal ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex
    gap: 32px;
}

.horizontal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #333333;
  padding: 0 32px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}