* {
    box-sizing: border-box;
}

html,
body {
 font-family: system-ui;
  font-size: 16px;
  line-height: 3;
  color: #020202;
  background-color: #e4bee2;
  display: grid;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 20px 70px 50px;
  margin: 20px;
}

main {
    max-width: 1200px;
    width: 90%;
    padding: 16px;
}

header {
    align-items: center;
}

.name-card {
    background-color: rgb(245, 237, 227);
    border: 10px dotted rgb(189, 55, 133)
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 50px;
    line-height: 1em;
    margin-top: 48px;
    margin-bottom: 48px;
    text-align: center;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: large;
    font-size: 20px;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    font-size: medium;
    line-height: 32px;
}

.skill-card {
    background-color: rgb(245, 237, 227);
    border: 1px dotted rgb(189, 55, 133);
}

.horizontal ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px 20px;
}

.horizontal {
    position: sticky;
    top: 0px;
    left: 3px;
    right: 3px;
    width: fit-content;
    box-shadow: 0 2px 4px rgba(205, 17, 252, 0.39);
    z-index: 5;
}

.horizontal li {
    margin-bottom: 0 ;
    margin-top: 0;
}

.horizontal a {
    display: block;
    padding: 0px 10x;
    color: black;
    background-color: rgb(245, 237, 227);
    text-decoration: none;
    border: 1px solid #e4bee2;
    transition: background-color 0.2s ease, 0.2 ease;
}

.horizontal a:hover {
    color: rgb(54, 0, 99);
    background-color: #5a497a;
}

.horizontal+main {
    margin-top: 0;
}