body { 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    line-height: 35px;
    color: #020202;
    background-color: #f1def1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150px;
    padding: 20px 70px 50px;
    margin: 20px;
}

.middle {
    text-align: center;
}

.middle ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.middle li {
    display: inline-block;
    margin: 0 10px;
}

.middle a {
    text-decoration: none;
    color: rgb(109, 24, 24);
}


@media (width >= 480px) { 
    body{
    flex-basis: 40%;
    }
}
    
@media (width >= 1024px) { 
    body{
    flex-basis: 30%;
    }
}