body { 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 40px;
    color: #020202;
    background-color: #f1def1;
    display: grid;
    justify-content: space-evenly;
    align-items: end;
    min-height: 150px;
    padding: 20px 70px 50px;
    margin: 20px;
}

.middle {
    text-align: center;
}

.middle ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.middle li {
    display: inline-flex;
    margin: 0 10px;
}

.middle a {
    text-decoration: none;
    color: rgb(109, 24, 24);
}

button {
    background-color: #b41f4c;
    border: none;  
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 8px 2px;
    opacity: 0.6;
    transition-duration: 0.3s;
}

button:hover {
 background-color: #c71592;
  color: white;
}

li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: rgb(78, 13, 13)c
}

h1 {
    font-weight: 1000;
    text-align: center;
}

h2 {    
    text-align: center;
}

h3 {
    font-weight: 100;
    font-size: 58px;
    text-align: center;
    margin:auto;
}

img {
    display: block;
    margin: auto;
}

@media (width >= 480px) { 
    body{
    flex-basis: 40%;
    }
}
    
@media (width >= 1024px) { 
    body{
    flex-basis: 30%;
    }
}
